<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> Development Team</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Achchuthan </div>
                <div class="col-md-10">PGIS/SC/MSC/CSC/17/01</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Kesavan</div>
                <div class="col-md-10">PGIS/SC/MSC/CSC/17/12</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Pavithra</div>
                <div class="col-md-10">PGIS/SC/MSC/CSC/17/13</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Anuranga</div>
                <div class="col-md-10">PGIS/SC/MSC/CSC/17/21</div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Ethayaraj</div>
                <div class="col-md-10">PGIS/SC/MSC/CSC/17/25</div>
            </div>
        </div>
    </div>
</div>


  		
  		
 		
